/*
 * MediaCMS XBlock CSS
 * 
 * NOTE: Styles for the video player sizing have been moved to inline styles 
 * in mediacms.html to guarantee 16:9 aspect ratio and bypass caching issues.
 *
 * Previous styles are commented out below for reference.
 */

/*
.mediacms_block .mediacms-video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
    margin: 0 auto;
}

.mediacms_block .video-js {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.mediacms_block .video-js .vjs-tech {
    width: 100% !important;
    height: 100% !important;
}
*/

/* Completion indicator text style */
.mediacms-progress-info {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 15px;
}

.mediacms-completed {
    color: #008000;
    /* Green for completion */
}